/*GENERAL STYLES*/

*{
  box-sizing: border-box;
}

body{
  width: 1600px;
  height: 2340px;
  font-family: 'Montserrat', sans-serif;
  background-color: #F4F3F5;
}

/*TEXT STYLES*/

.text_styles{
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
}

p, h3{
  margin: 0;
  margin-bottom: 20px;
}

.summery{
  font-weight: normal;
  color: #211138
}

.small_summery{
  font-size: 14px;
}

.big_summery{
  font-size:20px;
}

.title_and_summery{
  font-weight: bold;
  font-size: 40px;
}

.blue{
  color: #6200EA;
}

.grey{
  color: #B2ACBA;
}

.dark_blue{
  color: #211138;
}

.white{
  color: #FFFFFF;
}

a{
  text-decoration: none;
}

.featured_blog_post, .double_blog, .sample_blog_post{
  margin-bottom: 30px;
}


/*BOXES STYLES*/

.button_text{
  display: inline-block;
  border-radius: 24px;
  border: 2px solid #FFFFFF;
  background: #FFFFFF;
  color: #6200EA;
  text-transform: uppercase;
  text-align: center;
  padding: 12px 0;
  letter-spacing: 2.4px;
}

.sample_blog_post{
  width: 730px;
  height: 350px;
  border-radius: 15px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  padding: 60px;
}

.featured_blog_post{
  width: 730px;
  height: 350px;
  border-radius: 15px;
  background: url(https://i.imgur.com/jyCI3UZ.jpg);
  background-size: cover;
  padding: 60px;
}

.read_more{
  width: 160px;
  height: 40px;
  border-radius: 24px;
  border: 2px solid #6200EA;
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
  display: inline-block;
  padding: 12px;
}

.white_border{
  border: 2px solid #FFFFFF;
  color: white;
}

.category_box{
  width: 350px;
  height: 160px;
  border-radius: 15px;
  background: #FFFFFF 0% 0% no-repeat padding-box;;
}

.categories{
  width: 350px;
  height: 50px;
  border: 1px solid #F4F3F5;
  background: #FFFFFF 0% 0% no-repeat padding-box;
}

.blue_card_title{
  width: 350px;
  height: 60px;
  border-radius: 15px 15px 0px 0px;
  text-align: center;
  padding: 25px;
  background: #6200EA 0% 0% no-repeat padding-box;
}

.right{
  float: right;
}

.left{
  float: left;
}

.middle{
  padding: 22px;
  text-align: center;
}

.view_all_box{
  width: 350px;
  height: 60px;
  border-radius: 0px 0px 15px 15px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
}

.white_box{
  width: 350px;
  height: 160px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
}

.white_box_border{
  border-radius: 15px;
}

.white_box_article{
  width: 190px;
  height: 120px;
  float: right;
  margin: 20px 0px 20px 20px;
}

.post_with_image{
  width: 730px;
  height: 320px;
  border-radius: 15px 15px 0px 0px;
  background: url(https://i.imgur.com/lI3P0m2.jpg);
  background-size: cover;
}

.padding_off{
  border-radius: 0px;
}

.img_small{
  width: 120px;
  height: 120px;
  border-radius: 10%;
  margin: 20px 0px 20px 20px;
}

.img_big{
  width: 730px;
  height: 350px;
  border-radius: 15px;
}

.blog_img{
  width: 730px;
  height: 320px;
}

.clearfix{
  clear: both;
  padding: 0;
  margin: 0;
  content: "";
  display: table;
}

/*FIRST LINE - BLUE HEADER*/


header{
  width: 1600px;
  height: 80px;
  background-color: #6200EA;
}

.wrapper{
  width: 1110px;
  height: 100%;
  margin: 0 auto;
  display: table;
}

.layout{
  display: table-cell;
  vertical-align: middle;
}

.header_location{
  width: 160px;
  margin-right: 27.477%;
  margin-top: 18px;
}

.img_logo{
  display: inline-block;
  width: 180px;
  height: 50px;
  margin-top: 18px;
}

/*NAVIGATION LINE*/

.nav_cover{
  width: 1600px;
  height: 80px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  margin-bottom: 50px;
}

.wrapper_nav{
  width: 1031px;
  height: 80px;
  margin: 0 auto;
  display: table;
}

nav{
  display: table-cell;
  vertical-align: middle;
}

nav a{
  margin-right: 45px;
  letter-spacing: 2.4px;
}

nav a:hover{
  color: #6200EA;
  border-bottom: 4px solid blue;
  padding-bottom: 33.4px;
}

p, a{
  margin-bottom: 15px;
}

/*BLOG SECTION*/

.frame{
  width: 1110px;
  height: 2080px;
  margin: 0 auto;
}

.frame_right{
  width: 350px;
  height: 2080px;
  float: right;
}

.first_right_coloumn{
  width: 350px;
  height: 630px;
}

.second_right_coloumn{
  width: 350px;
  height: 630px;
}

.third_right_coloumn{
  width: 350px;
  height: 520px;
}

.frame_left{
  width: 730px;
  height: 2080px;
}

footer{
  width: 1600px;
  height: 100px;
  background-color: #211138;
  margin-bottom: 0px;
  text-align: center;
  padding: 43px;
  color: #FFFFFF;
}